.about-me {
  padding: 40px 20px;
  background-color: #c24949;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex: 1; /* Ensures it takes up the full available space */
}

.avatar {
  max-width: 150px;
}

.bio {
  font-size: 1.2em;
  line-height: 1.6;
}
